html{
  height: 100%;
}
body {
  margin: 0;
  background-image:url("../src/img/matthew-brodeur-aW575siQEBE-unsplash.jpg");
  /* background-color: black; */
   background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
  padding:0;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Garamond, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'nameFONT';
  src: local('nameFONT'), url(../src/fonts/SyneMono-Regular.ttf) format('truetype');
}

.nav{
  padding-top: 20px;
  color: #3bbf98;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header a{
  padding: 1.5rem;
  font-size: large;
  font-weight: bold;
  font-weight: bold;
  font-size: 100%;
}

.logoName{
  background-color: #963914;
  padding:0 5px;
  font-weight: bold;
  font-size: 100%;
  color: rgb(53, 23, 23);
  
}
a{
  text-decoration: none;
  color:#9e8720
}
a:hover{
  color: #963914;
}
.nava{

  font-family: nameFONT;
  font-size: 100%;
}
.nava:hover{
  color: #963914;
  font-weight: bold;
  /* text-decoration: underline solid red */
    /* border-bottom:3px solid rgb(35, 80, 35);
    width: 50%;
    padding-bottom: 4px; */
}
/* HOME */
.timeContainer{
  width: 80%;
  margin-top: 1%;
  margin-left: 3%;
  text-align: left;
  font-weight: 900;
  color: rgb(184, 183, 183);
}
.time{
  width: 100%;
  /* margin: 90px 5px; */
  font-size: 80%;
}
.countryName{
  background-color: rgba(218, 218, 218, 0.589);
  color: rgb(24, 80, 24);
}
.cvContainer{
  width: 70%;
  margin-top: 1%;
  margin-left: 3%;
  margin-bottom: 5%;
  outline:none;
}
.downloadCV{
background: linear-gradient(90deg, rgba(1,1,1,0) 0%, rgba(150,78,43,0.4332107843137255) 50%, rgba(0,0,0,0) 100%);
  border-radius: 50px;
  outline:none;
  border: none;
  padding: 1rem 4rem;
  font-weight: 900;
  cursor: pointer;
  color:#9e8720;
}
.downloadCV:hover{
  box-shadow: 0px 0.5px 1px 0.5px   rgba(204, 208, 212, 0.24);
  background: linear-gradient(90deg, rgba(1,1,1,0) 0%, rgba(150,78,43,0.7441351540616247) 50%, rgba(0,0,0,0) 100%);
  color:#9e8720;
  outline:none;
}
.homeContainer{
  /* margin-top: 150px; */
  margin-bottom: 0;
  height: 100%;
  width: 100%;
 text-align: center;
}
.profImg{
  /* box-shadow: 0px 0.5px 1px 0.5px #963914; */
  border: .5rem solid rgba(99, 96, 96, 0.062);
  border-radius: 50%;
  width: 15%;
  margin: 0 0 10px 0;
}
.profImg:hover{
  box-shadow: 0px 0.5px 1px 0.5px #963914;
}
.devIntro{
  padding:5px 10px;
  font-weight: bold;
  font-size: 100%;
color:rgb(161, 156, 156);
margin: 10px 0;
border-radius: 20px;
}
.name{
  font-family: nameFONT;
color: rgb(161, 156, 156);
width: 100%;
font-size: 130%;
  font-weight: bold;
  text-align: center;
}
.name1{
margin: 1rem;
}
.name1{
  margin: 1rem;
}
.jobTitle{
  font-family: nameFONT;
  color: rgb(161, 156, 156);
font-size: 130%;
  font-weight: bold;
  text-align: center;
}
.smileEmoji{
  font-size: 1rem;
}

/* ABOUT */
.aboutMeContainer{
  margin-top: 200px;
    height: 100%;
  margin-right: 10%;
  margin-left: 10%;
  font-family: nameFONT;
}
.about{
   background: linear-gradient(90deg, rgba(1,1,1,0) 0%, rgba(150,78,43,0.7441351540616247) 50%, rgba(0,0,0,0) 100%);
 font-weight: bold;
   padding:0 3px;
  color: #9e8720;
}
.aboutMeTitle{
  color: rgb(184, 183, 183);
  font-size: 110%;
  font-weight: bolder;
  margin-bottom: 20px;
}
.aboutMeTitle2{
  color: rgb(184, 183, 183);
  font-size: 110%;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
}
.aboutMe{
  color: rgb(184, 183, 183);
  font-size: 100%;
  font-weight: bold;
background: linear-gradient(90deg, rgba(1,1,1,0) 0%, rgba(150,78,43,0.4332107843137255) 50%, rgba(0,0,0,0) 100%);
padding: 20px 30px;
}
.aboutMe2{
 color: rgb(184, 183, 183);
  font-size: 100%;
  font-weight: bold;
}
.aboutTools{
  margin: 5px;
  color: rgb(184, 183, 183);
}
/* PROJECTS */
.projectsContainer{
font-size: 120%;
 height: 100%;
}
.projTitleCard{
color: rgb(184, 183, 183);
margin: 30px 10px 0 20px;
font-size: 80%;
width: 40%;
border-radius: 20px;
background: linear-gradient(90deg, rgba(1,1,1,0) 0%, rgba(150,78,43,0.4332107843137255) 50%, rgba(0,0,0,0) 100%);
padding: 5px 10px;
  font-weight: bold;
  font-family: nameFONT;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card{
  margin: 25px 10px;
}
.card:hover{
  box-shadow: 2px 4px 10px rgba(255, 255, 0, 0.267);
  border-radius: 0.5rem;
}
row.center{
  justify-content: center;
}

/* img{
  border-radius: 0.5rem;
  box-shadow: 2px 4px 10px rgba(255, 255, 0, 0.589);

} */
img.medium{
  border-radius: 0.5rem;
  box-shadow: 2px 4px 10px rgba(255, 255, 0, 0.589);
  max-width: 10rem;
  width: 100%;
}

/* CONTACT */
.contactContainer{
  width: 17%;
 
color: rgb(184, 183, 183);
/* margin: 30px; */
font-size: 100%;
  font-weight: bold;
  font-family: nameFONT;
}
.contact{
  margin: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 0 0 0 3px;
  color: rgb(184, 183, 183);
  background: linear-gradient(90deg, rgba(1,1,1,0) 0%, rgba(150,78,43,0.45281862745098034) 0%, rgba(0,0,0,0) 38%);
}
.contact:hover{
  color: rgba(255, 255, 0, 0.589);
  background: linear-gradient(90deg, rgba(112,49,30,0.7021183473389356) 0%, rgba(33,53,78,0.9009978991596639) 37%, rgba(66,68,108,0) 60%);
padding: 0 0 5px 30px;
border-radius: 20px;
  /* border-bottom: 3px solid rgb(35, 80, 35);  */
  /* background-color:  rgba(255, 255, 0, 0.068); */
   text-align: left;
  /* width: 10%; */
  padding-bottom: 0;
  cursor: pointer;
}
.contactInfoContainer{
  margin-left: 30px;
   width: 80%;
color: rgb(184, 183, 183);
font-size: 120%;
  font-weight: bold;
  font-family: nameFONT;
}
.contactinfo{
  margin: 20px 13px 10px 13px;
}
/* .contact a:hover{
  color: rgba(255, 136, 0, 0.589);
} */
/* a:hover{

} */


/* NAV */
/* .topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
} */

.NavbarItems{
  margin: 0;
  padding: 0;
  background: red;
  height:30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.nav-menu {
display: grid;
grid-template-columns: repeat(5, auto);
grid-gap: 10px;
list-style: none;
text-align: center;
width: 80vw;
justify-content: end;
margin-right: 2rem;
}
.nav-links{
  color: whitesmoke;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.fa-bars{
  color: #fff;
}
.menu-icon{
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems{
    position: relative;
  }
   .nav-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 30%;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active{
    background: green;
    left: 0;
    /* margin-top: -13%; */
    width: 89%;
    height: 14rem ;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links{
    text-align: center;
    /* padding: 2rem; */
    width: 0%;
    display: table;
  }
  .nav-links:hover{
    background: yellow;
    border-radius: 0;
  }
  .navbar-logo{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(11%, -80%);
  }
  .menu-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    transform: translate(-100%, 0% );
    font-size: 1.8rem;
    cursor: pointer;
  }
  .fa-times{
    color: #fff;
    font-size: 2rem;
  }
}
/* MEDIA QUERY */

/* NAV */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media only screen and (max-width: 875px){
    .projTitleCard{
font-size: 70%;
width: 80%;
padding: 10px;
}
}

@media screen and (max-width: 375px) {
 .cvContainer{
  width: 70%;
  margin-top: 1%;
  margin-left: 3%;
  margin-bottom: 0;
  outline:none;
}
.aboutMeContainer{
  padding-bottom: 20px;
    height: 0%;
  margin-right: 10%;
  margin-left: 10%;
  font-family: 'Courier New', Courier, monospace;
}
/* .row{
background: linear-gradient(0deg, rgba(1,1,1,0) 0%, rgba(1,1,1,1) 0%, rgba(0,0,0,0.8785889355742297) 100%);
}
.projTitleCard{
background-color: black;
background: linear-gradient(0deg, rgba(1,1,1,0) 0%, rgba(1,1,1,1) 0%, rgba(0,0,0,0.8785889355742297) 100%);
} */
.projectsContainer{
background: linear-gradient(0deg, rgba(1,1,1,0) 0%, rgba(1,1,1,1) 0%, rgba(0,0,0,0.7049194677871149) 90%);
}
}
